/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

/* Variavles */
:root {
  --title: #1a5fb4;
  --primary: #1c71d8;
  --secondary: #3584e4;
  --hover: #99c1f1;
  --radius: 5px;
}

/* General */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 300px;
  padding: 1em;
}

a {
  text-decoration: none;
}

.icon {
  margin: auto;
  cursor: pointer;
}

.content {
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  padding: 0.5em;
}

/* Header */
.header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: var(--title);
  font-family: 'Montserrat', serif;
}

/* TABS */
#tabs {
  margin: 1em 0 0;
  text-align: center;
}

#tabs ul {
  display: flex;
  justify-content: center;
}

#tabs ul li {
  width: 40%;
  border-radius: var(--radius) var(--radius) 0 0;
}

#tabs ul li:hover {
  background-color: var(--hover);
}

#tabs ul li.is-active {
  border: 1px solid var(--primary);
  border-bottom: none;
}

#tabs ul li a {
  color: black;
  display: block;
  padding: 0.5em;
}

/* Hosts */
#hosts {
  padding: 0.3em;
}

#hosts #empty {
  text-align: center;
}

#hosts ul li {
  display: flex;
  justify-content: space-between;
}

#hosts ul li a:hover {
  background-color: var(--hover);
}

#hosts ul li a {
  border-radius: var(--radius);
  padding: 0.2em;
  width: 80%;
  box-sizing: border-box;
  display: block;
  color: black;
  margin: 0.3em;
  cursor: pointer;
}

#hosts ul li a p {
  font-size: 1.2em;
}

#hosts ul li a small {
  font-size: 0.9em;
}

/* Form */
#form input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  padding: 0.5em;
  margin: 0.3em 0;
  outline: none;
  font-size: 0.9em;
}

#form .protocol {
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  padding: 0.5em;
  margin: 0.7em 0 0 0 ;
  
  display: flex;
  justify-content: center;
}

#form .protocol .item {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

#form .protocol .item * {
  cursor: pointer;
}

#form .protocol .item label {
  margin: 0 5px;
}

#form button {
  width: 100%;
  outline: none;
  padding: 0.5em;
  border:  1px solid var(--primary);
  border-radius: var(--radius);
  text-align: center;
  border-color: var(--primary);
  background-color: white;
  cursor: pointer;
  margin: 0.5em 0 0;
}

#form button:focus {
  background-color: var(--hover);
}

#form button:hover {
  background-color: var(--hover);
}

/* Footer */
footer {
  text-align: right;
  margin: 1em 0 0;
}

footer .icon {
  padding: 0.3em;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radius);
}

footer .icon:hover {
  border: 1px solid var(--primary);
}

footer a {
  color: black;
}
