/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

/* Variavles */
:root {
  --primary: #1a5fb4;
  --primary-light: #1c71d8;
  --secondary: #3584e4;
  --secondary-light: #62a0ea;
  --hover: #99c1f1;
  --error: #ed333b;
  --ok: #57e389; 
  --radius: 5px;
}

/* General */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 300px;
  padding: 1em;
}

a {
  text-decoration: none;
}

.content {
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  padding: 0.5em;
}

/* Header */
.header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: var(--primary);
  font-family: 'Montserrat', serif;
}

/* TABS */
.tabs-component {
  margin: 1em 0 0;
  text-align: center;
}

.tabs-component ul {
  display: flex;
  justify-content: center;
}

.tabs-component ul li {
  width: 40%;
  border-radius: var(--radius) var(--radius) 0 0;
}

.tabs-component ul li:hover {
  background-color: var(--hover);
}

.tabs-component ul li.is-active {
  border: 1px solid var(--primary);
  border-bottom: none;
}

.tabs-component ul li a {
  color: black;
  display: block;
  padding: 0.5em;
}

.tab-content {
  padding: 0.3em;
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
}

/* Hosts */
.hosts-component .list-section li {
  display: flex;
  justify-content: space-between;
}

.hosts-component .list-section li a:hover {
  background-color: var(--hover);
}

.hosts-component .list-section li a {
  border-radius: var(--radius);
  padding: 0.5em;
  width: 80%;
  box-sizing: border-box;
  display: block;
  color: black;
  cursor: pointer;
}

.hosts-component ul li a p {
  font-size: 1.2em;
}

.hosts-component ul li a small {
  font-size: 0.9em;
}

.hosts-component ul li .actions {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.hosts-component ul li .actions .icon {
  display: block;
  width: 24px;
  cursor: pointer;
}

.hosts-component .message-section {
  text-align: center;
  padding: 1em 0
}

/* Form */
.form-component .field {
  margin: 0 0 0.6em;
}

.form-component .field .input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
  padding: 0.5em;
  outline: none;
  font-size: 0.9em;
  transition: all 0.5s;
}

.form-component .field .input.has-error {
  border: 1px solid var(--error); 
}

.form-component .field .input.ok {
  border: 1px solid var(--ok);
}

.form-component .field .error-message {
  display: none;
  font-size: 0.9em;
  margin-top: 0.3em;
  color: var(--error);
}

.form-component .field .input.has-error + .error-message {
  display: inline-block;
}

.form-component .protocol {
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
  padding: 0.5em;
  margin: 0.7em 0 0 0 ;
  
  display: flex;
  justify-content: center;
}

.form-component .protocol .item {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.form-component .protocol .item * {
  cursor: pointer;
}

.form-component .protocol .item label {
  margin: 0 5px;
}

.form-component button {
  width: 100%;
  outline: none;
  padding: 0.5em;
  border:  1px solid var(--secondary);
  border-radius: var(--radius);
  text-align: center;
  border-color: var(--secondary);
  background-color: var(--hover);
  cursor: pointer;
  margin: 0.5em 0 0;
  font-size: 1.1em;
  transition: all 0.3s;
}

.form-component button:focus {
  background-color: var(--secondary-light);
  color: white;
}

.form-component button:hover {
  background-color: var(--secondary-light);
  color: white;
}

/* Footer */
footer {
  text-align: right;
  margin: 1em 0 0;
}

footer .icon {
  padding: 0.3em;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radius);
}

footer .icon:hover {
  border: 1px solid var(--secondary);
}

footer a {
  color: black;
}
