/* HELPER */
.hide {
  display: none;
}

/* BASE LAYOUT */
body {
  padding: 1em
}

header {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

main {
  margin: 0.5em;
  width: 200px;
}

footer {
  text-align: center;
}

/* CONTENT SECTION */
#content {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica';
}

#content > a {
  margin: 0.2em 0;
  text-decoration: none;
  color: black;
  transition: all;
  transition-duration: 0.2s;
}

#content > a:hover {
  margin: 0.2em 0;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

/* FORM SECTION */
#form button {
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 3px;
}

#form button#toggler {
  background-color: lightblue;
  border: 1px solid lightskyblue;
}

#form form button {
  background-color: lightgreen;
  border: 1px solid greenyellow;
}

#form form input {
  margin: 3px 0;
  padding: 5px;
  display: block;
}